---
import { Icon } from "astro-icon/components";

export interface Props {
  index: number;
  title: string;
  feature?: string;
  keywords?: string[];
  environment?: string[];
  descriptions?: string[];
}

const {
  index,
  title,
  feature,
  keywords = [],
  environment = [],
  descriptions = [],
} = Astro.props;

const indexToGridArea = [
  { row: "2 / -1", col: "1" },
  { row: "2", col: "2 / -1" },
  { row: "3", col: "2" },
  { row: "3", col: "3" },
];

const gridRow = indexToGridArea[index].row;
const gridColumn = indexToGridArea[index].col;
---

<section>
  <div class="title">
    <h3>{title}</h3>
    {feature ? <p>{feature}</p> : null}
  </div>

  {
    keywords.length ? (
      <div class="tag keyword">
        <Icon name="tabler:tags" size="24px" />

        <ul>
          {keywords.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
      </div>
    ) : null
  }

  {
    environment.length ? (
      <div class="tag environment">
        <Icon name="tabler:code" size="24px" />

        <ul>
          {environment.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
      </div>
    ) : null
  }

  {
    descriptions.length ? (
      <ul class="description">
        {descriptions.map((desc) => (
          <li>
            <Icon name="tabler:check" />
            <p>{desc}</p>
          </li>
        ))}
      </ul>
    ) : null
  }
</section>

<style
  define:vars={{
    "project-grid-row": gridRow,
    "project-grid-column": gridColumn,
  }}
>
  section {
    grid-row: var(--project-grid-row);
    grid-column: var(--project-grid-column);

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h3 {
    margin: 0;
  }

  .title > p {
    margin: 8px 0 0;

    line-height: 1.125;
    color: oklch(44.2% 0.017 285.786);
  }

  .tag {
    display: flex;
    gap: 8px;
  }

  .tag > svg {
    flex: 0 0 content;

    display: block;
  }

  .tag > ul {
    flex: 1 1;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin: 0;
    padding: 0;
  }

  .tag > ul > li {
    list-style: none;

    border-radius: 4px;
    padding: 4px 8px;
    background-color: oklch(92% 0.004 286.32);
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 8px;
    padding: 0;
  }

  .description > li {
    list-style: none;

    display: flex;
    gap: 4px;

    line-height: 1.375;
  }

  .description > li > svg {
    flex: 0 0 auto;

    margin-top: 2px;
  }

  .description > li > p {
    margin: 0;
  }
</style>
