---
import type { Props as ProjectProps } from "@/components/Project.astro";

import Project from "@/components/Project.astro";

type ProjectItem = Omit<ProjectProps, "index">;

const projects: ProjectItem[] = [
  {
    title: "Codeplay",
    feature: "커뮤니티 사이트",
    keywords: ["협업", "풀스택"],
    environment: [
      "TypeScript",
      "Express",
      "MariaDB",
      "JWT",
      "Vite",
      "React",
      "Zustand",
      "Tailwind CSS",
    ],
    descriptions: [
      "협업에 익숙해지기 — GitHub의 다양한 협업 기능 활용",
      "다양한 역할에서 협업해 보기 — 기능별 풀스택 역할 분담, Backend, Frontend",
      "OAuth",
      "복잡하게 중복·중첩된 UI 요소 컴포넌트 단순화",
      "처음 보는 라이브러리 다양하게 활용하기",
    ],
  },
  {
    title: "yejunian/blog",
    feature: "개인 블로그",
    keywords: ["SSG 프레임워크"],
    environment: [
      "GitHub Pages",
      "GitHub Actions",
      "TypeScript",
      "Gatsby",
      "SCSS",
      "CSS Modules",
    ],
    descriptions: [
      "내가 원하는 기능이 담긴 블로그 만들기",
      "블로그 코어와 게시글 레포 분리 — 커밋 로그 분리 및 블로그 공사·이전에 대비",
    ],
  },
  {
    title: "img-seq-pack",
    feature: "이미지 여러 장을 하나의 PDF로 묶는 웹 애플리케이션",
    keywords: ["일상 문제 해결", "코드 스플리팅"],
    environment: ["GitHub Pages", "TypeScript", "Vite"],
    descriptions: [
      "페이지 초기 로드를 줄이기 위해서, 이미지 처리부터 PDF 생성 부분까지 dynamic import를 적용하여, 빌드 시 번들 분리",
    ],
  },
  {
    title: "MD Presenter",
    feature: "Markdown 프리젠테이션 데스크톱 애플리케이션",
    keywords: ["Hands-on", "Markdown 처리"],
    environment: ["Tauri", "Next.js", "unified", "remark", "rehype"],
    descriptions: [
      "unified 플러그인을 연결하여 Markdown을 처리하는 과정을 구성해서, 한 Markdown 파일을 여러 페이지에 나누어 표시",
    ],
  },
];
---

<div class="project">
  <h2>프로젝트</h2>

  {
    projects.map((item, index) => (
      <Project
        index={index}
        title={item.title}
        feature={item.feature}
        keywords={item.keywords}
        environment={item.environment}
        descriptions={item.descriptions}
      />
    ))
  }
</div>

<style>
  .project {
    grid-row: var(--grid-row-skillset) / var(--grid-row-education);
    grid-column: var(--grid-column-projects) / -1;

    display: grid;
    grid-template-columns: 3fr 3.5fr 3.5fr;
    grid-template-rows: min-content auto auto;
    gap: 24px;
  }

  h2 {
    grid-row: 1;
    grid-column: 1 / -1;
  }
</style>
